{% extends "layout.html" %}

{% block content %}
{% for entry in entries %}
<section>
    <div class="container">
        <div class="new-entry">
            <h2>Edit Entry: {{entry.title}}</h2>
            <form action="", method="POST" id="entry-form">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    <div class="feild">
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="notification error">{{error}}</div>
                        {% endfor %}
                    {% endif %}

                    {% if field.label.text == 'Title' %}
                        <p>Current Title: {{entry.title}}</p>
                        {{field(placeholder='Update Title Here')}}
                    {% endif %}

                    {% if field.label.text == 'Entry' %}
                    <p>Current Entry: {{entry.content}}</p>
                    {{field(placeholder='Update Entry Here')}}
                    {% endif %}

                    {% if field.label.text == 'Entry Date' %}
                    <p>Current Date: {{entry.date}}</p>
                    {{field(type='date')}}
                    {% endif %}

                    {% if field.label.text == 'Resourses Remember' %}
                    <p>Current Resource: {{entry.resource}}</p>
                    {{field(placeholder='Update Resource Here')}}
                    {% endif %}

                    {% if field.label.text == 'Time Spent in Minutes' %}
                    <p>Current Time Spent: {{entry.time_spent}}</p>
                    {{field(placeholder='Update Time Spent Here')}}
                    {% endif %}

                    {% if field.label.text == 'Tags' %}
                    <p>Current Tags: {{entry.tags}}</p>
                    {{field(placeholder='Update Tags Here')}}
                    {% endif %}
                </div>
                {% endfor %}
                <input type="submit" value="Update Entry" class="button">
            </form>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}
