{% extends "layout.html" %}

{% block content %}
{% for entry in entries %}
<section>
    <div class="container">
        <div class="new-entry">
            <h2>Edit Entry: {{entry.title}}</h2>
            <form action="", method="POST" id="entry-form">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    <div class="feild">
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="notification error">{{error}}</div>
                        {% endfor %}
                    {% endif %}

                    {% if field.label.text == 'Title' %}
                        <label for={{field.label.text}} > {{field.label.text}}</label>
                        {{ field(value=entry.title)}}
                    {% endif %}

                    {% if field.label.text == 'What I Learned' %}
                        <label for="entry" > {{field.label.text}}</label>
                        {{ field }}
                        <p>Original Entry: {{entry.content}}</p>
                    {% endif %}

                    {% if field.label.text == 'Entry Date' %}
                        <label for={{field.label.text}} > {{field.label.text}}</label>
                        {{field(value=entry.date, type='date')}}
                    {% endif %}

                    {% if field.label.text == 'Resource 1' %}
                    <label for={{field.label.text}} > {{field.label.text}}</label>
                    {{field(value=entry.resource_text1)}}
                    <label for={{field.label.text}} > Link 1</label>
                    {{field(value=entry.resource_link1)}}
                    {% endif %}

                    {% if field.label.text == 'Resource 2' %}
                    <label for={{field.label.text}} > {{field.label.text}}</label>
                    {{field(value=entry.resource_text1)}}
                    <label for={{field.label.text}} > Link 2</label>
                    {{field(value=entry.resource_link2)}}
                    {% endif %}

                    {% if field.label.text == 'Resource 3' %}
                    <label for={{field.label.text}} > {{field.label.text}}</label>
                    {{field(value=entry.resource_text1)}}
                    <label for={{field.label.text}} > Link 3</label>
                    {{field(value=entry.resource_link3)}}
                    {% endif %}

                    {% if field.label.text == 'Time Spent in Minutes' %}
                    <label for={{field.label.text}} > {{field.label.text}}</label>
                    {{field(value=entry.time_spent)}}
                    {% endif %}

                    {% if field.label.text == 'Tags' %}
                    <label for={{field.label.text}} > {{field.label.text}}</label>
                    {{field(value=entry.tags)}}
                    {% endif %}
                </div>
                {% endfor %}
                <input type="submit" value="Update Entry" class="button">
            </form>
        </div>
    </div>
</section>
<script>
    var content =  '{{entry.content}}';
    function replace() {
        var empty = document.getElementById('content');
        empty.innerHTML = content;
    }
replace()

</script>
{% endfor %}
{% endblock %}
