{% extends "layout.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="welcom">
            <h1>Welcome {{current_user.username}}</h1>
        </div>
        <div class="entry-list">
            {% if entries.count() > 0 %}
                {% for entry in entries %}
                <article>
                    <h2><a href="{{url_for('view_entry', id=entry.id)}}">{{entry.title}}</a></h2>
                    <time datetime="#">{{entry.date}}</time>
                    <br>
                    <small>Tags: {{entry.tags}}</small>
                </article>
                {% endfor %}
            {% else %}
                <h1>No Entries Yet</h1>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
