{% macro render_field(field) %}
    <div class="feild">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{error}}</div>
            {% endfor %}
        {% endif %}
        {% if field.type == 'CSRFTokenField' %}
            <label for={{field.label.text}} ></label>
        {% elif field.type != 'DateField' %}
            <label for={{field.label.text}} > {{field.label.text}}</label>
            {{field}}<br>
        {% else %}
            <label for={{field.label.text}}> {{field.label.text}}</label>
            {{field(type='date')}}<br>
        {% endif %}
    </div>
{% endmacro %}